@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lobster&display=swap');

body {
    font-family: 'Lobster', cursive;  /* Fuente por defecto */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.colorNavbar{
    background: #080957;
}
.colorLetrasNavbar{
    color:  #DBDBEB;
    text-shadow: 3px 2px 3px #7577CD;
    font-weight: bold;
}
.estilosFooter {
    background-color: #FF6D02;
    height: 450px;
    text-decoration: none;
    list-style: none;
    color: #080957,
    padding-top= 12px;
    margin-top: auto;
}

.colorCardAllProducts{
    background: #DBDBEB;
}
.linkColorMenu:hover {
    background: #FF6D02;
    border-radius: 10px;
    color: #DBDBEB 
}

.estiloLoginContenedor{
    background: #DBDBEB
}
.colorBoton{
    color: #FF8303;
    font-weight: bold;
    text-shadow: 
        1px 1px 4px #080957
}

.error-container {
  width: 100vw; /* 100% del ancho de la pantalla */
  height: calc(100vh - 70px); /* 100% del alto de la pantalla menos el Navbar */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Evita el scroll horizontal */
  position: relative; /* Mantiene el div en su lugar */
}

.error-image {
  width: 100%; /* Asegura que la imagen ocupe el ancho completo */
  height: 100%; /* Asegura que la imagen ocupe el alto disponible */
  object-fit: cover; /* Ajusta la imagen sin deformarla */
}
