@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lobster&display=swap');

body {
    font-family: 'Lobster', cursive; 
    background: #FFFBE6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.colorNavbar{
    background: #00712D;
}
.colorLetrasNavbar{
    color:  #D5ED9F;
}
.estilosFooter {
    background-color: #FF9100;
    height: 450px;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.estiloLoginContenedor{
    background: #FFFBE6
}
.colorBoton{
    color: #FF9100;
    font-weight: bold;
    text-shadow: 
        1px 1px 4px #00712D
}

.error-container {
  width: 100vw; 
  height: calc(100vh - 70px); 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  position: relative; 
}

.error-image {
  width: 100%; 
  height: 100%;  
  object-fit: cover; 
}

.estiloIcono{
    height: 50px;
    width: 50px;
}

.imagen{
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  object-fit: cover; 
  display: block; 
  margin: 0 auto;
}